@model ProductsCatalog.Models.Product

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UnitsInStock)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UnitsInStock)
    @Html.ValidationMessageFor(model => model.UnitsInStock)
</div>

<div class="editor-label">
    Categories
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.CategoryId, ((IEnumerable<ProductsCatalog.Models.Category>)ViewBag.PossibleCategories).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.CategoryId.ToString(),
        Selected = (Model != null) && (option.CategoryId == Model.CategoryId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.CategoryId)
</div>
